# General
.vscode/
microc_test/

*~
*.diff
*.DS_Store
*.log
*.out
*.swp

# Neo
*.native
parser.ml
parser.mli
parser.output
scanner.ml
!test/*.out

# OCaml / Makefile
*.cmi
*.cmo
*.cmx
*.exe
*.ll
*.o
*.s

# ocamlbuild
*_build/
